<!DOCTYPE html>

<head>
    <meta lang="es">
    <meta charset="UTF-8">
    <title>Formulario Registro</title>
    <link rel="stylesheet" href="../Style/StyleSheet.css" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
    <header>
		<div class="wrapper">
			<div class="logo">Registros Tlalpan</div>
			<nav>
				<a href="index.html">Inicio</a>
				<a href="FormularioRegistro.html">Registrar</a>
				<a href="FormularioConsultar.html">Consultar</a>
				<a href="#">Modificar</a>
			</nav>
		</div>
    </header>
    <section class="form-register">
        <div>
            <h1>Bienvenidos a la página de registro de Tlalpan</h1>
        </div>
    </section>
    
    
</body>
</html>
